/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* LAYOUT
/*******************************************/
h1, .container {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
h2 {
  margin: 10px;
}
.container section {
  display: flex;
  padding: 1rem;
}
section div {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}
img {
  width: 40rem;
  height: 26rem;
}
.pageFlip {
  display: flex;
  justify-content: space-evenly;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media (max-width:600px) {

}
@media all and (min-width: 900px) {
  
}
@media only screen and (max-width: 500px) {
   
}